body{ 
    background-color: black;

}
.main{
    

    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png);
    height: 577px;
    width: 344px;
    background-size: cover;
    margin: auto;
    padding: 4px;


}
.a1{
    

    background-color: #ffffff;
    height: 166px;
    width: 351px;
    position: absolute;
    bottom:24px;
    margin-left: -3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
p{
    color:#5752ab;
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
    margin-left: 15px;
    font-size: 22px;
}
h5{

    color: #323f4b;
    margin-left: 14px;
    position: absolute;
    bottom: 51px;
    font-size: inherit;
}
.a3{ 

    border: 1px solid #171f46;
    height: 32px;
    width: 80px;
    position: absolute;
    bottom: 31px;
    margin-left: 65px;
    font-size: x-small;
    border-radius: 6px;


}
.a4{

   background-color: #171f46;
   color: white;
   margin-left: 150px;
   position: absolute;
   bottom: 33px;
   border-radius: 6px;
   height: 32px;
   width: 80px;

}